.content{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.options, .status, .game{
	text-align: center;
}
.status, #status{
	font-size: x-large;
	background-color: lightblue;
}
#status{
	color: red;
}
#scene{
	border: 1px solid #d3d3d3;
}